copyq/
dconf/
easyeffects/
fragments/
gazatu.xyz/
GIMP/
GitHub Desktop/
gtk-2.0/
gtk-3.0/
gtk-4.0/
ksnip/
libfm/
libresprite/
m5burner/
menus/
neofetch/
nitrogen/
nuclear/
obs-studio/
omf/
OpenRGB/
pcmanfm/
peazip/
pulse/
qalculate/
ranger/
screengrab/
Signal/
solaar/
VirtualBox/
volumeicon/
yabridgectl/
yay/
conky-manager.json
pavucontrol.ini
kdenlive-layoutsrc
kdenliverc
mimeapps.list
QtProject.conf
chessx/
pychess/
MuseScore/
appimagelauncher.cfg
systemd/user/default.target.wants/appimagelauncherd.service
cava/config
sxhkd/sxhkdrc
bspwm/bspwmrc
