BraveSoftware/
Signal/
libresprite/
libreoffice/
GitHub Desktop/
appimagelauncher.cfg
cava/
cmus/
Epic/
fragments/
GIMP/
gtk-2.0/
filezilla/
moc/last_directory
ncmpcpp/
nitrogen/
obs-studio/
cutentr.conf
libfm/
ksnip/
onlyoffice/
OpenRGB/
peazip/
pcmanfm/
pavucontrol.ini
pulse/
protonvpn/
xfce4/
volumeicon/
systemd/
systemd/
dconf/
Thunar/
qalculate/
solaar/
zsh/histfile
sauerbraten/auth.cfg
