[submodule "nvim"]
	path = nvim
	url = https://github.com/NicoDevStuff/nvim-config
[submodule "helix-config"]
	path = helix-config
	url = https://github.com/NicoDevStuff/helix-config
[submodule "leftwm"]
	path = leftwm
	url = https://github.com/NicoDevStuff/leftwm-config
[submodule "fish"]
	path = fish
	url = https://github.com/NicoDevStuff/fish-config
[submodule "helix"]
	path = helix
	url = https://github.com/NicoDevStuff/helix-config
[submodule "awesome"]
	path = awesome
	url = https://github.com/NicoDevStuff/awesomewm-config
[submodule "dwm"]
	path = dwm
	url = git@github.com:NicoDevStuff/dwm-2.0.git
[submodule "dwmblocks"]
	path = dwmblocks
	url = https://github.com/NicoDevStuff/dwmblocks-build
[submodule "st"]
	path = st
	url = https://github.com/NicoDevStuff/st-build
[submodule "qtile"]
	path = qtile
	url = git@github.com:NicoDevStuff/qtile.git
[submodule "i3"]
	path = i3
	url = git@github.com:NicoDevStuff/i3-config.git
